.experiences-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 80%;

  margin-bottom: 40px;
  padding: 20px 40px 0px 40px;

  background-color: #637f7f;
  border-radius: 50px 0 0 50px;
  color: #ffffff;

  .title {
    font-size: 20px;
  }
  .experiences-container {
    width: 60%;
  }
}
