.title-container {
  margin-top: 50px;
  margin-left: 40px;

  .name {
    font-size: 16px;
    color: #ffffff;
  }
  .title {
    font-size: 22px;
    margin-top: 100px;
    color: #426858;
  }
  .first-phrase {
    font-size: 26px;
    margin-top: 40px;
    color: #426858;
  }
  .second-phrase {
    font-size: 28px;
    color: #426858;
  }
}
