.title-container {
  .title {
    font-size: 16px;
    font-family: "Poppins";
    margin-top: 50px;
    margin-left: 100px;
    color: #ff8301;
  }
  .subtitle {
    font-size: 8px;
    font-family: "Poppins";
    display: flex;
    justify-content: flex-end;
    text-align: end;
    margin-right: 10px;
    margin-left: 128px;
    color: #ff497f;
  }
}
