.tech-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 45px 10px 0px 10px;
  .tech-grid {
    display: inline;
    flex-wrap: wrap;
    background-color: #bebebe;
    box-shadow: 2px 2px 4px #a143f5;
    border-radius: 4px;
    .tech-icon {
      width: 16px;
      height: 16px;
      padding: 10px;
    }
  }
}
