.tech-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 45px 10px 0px 10px;
  .tech-grid {
    display: inline;
    flex-wrap: wrap;
    width: 180px;
    height: 78px;
    background-color: #eeeeee;
    box-shadow: inset 0px 0px 10px #565656;
    border-radius: 4px;
    .tech-icon {
      width: 16px;
      height: 16px;
      padding: 10px;
    }
  }
}
