.experience-card-container {
  background: linear-gradient(#ff497f, #fe709a);
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  box-shadow: 2px 2px 4px #ffaf00;

  .card-title {
  }
  .card-date {
    margin-left: 10px;
  }
  .card-description {
  }
}
