.project-item {
  border-radius: 4px;
  background: linear-gradient(#b9b9b9, #dadada);
  box-shadow: 2px 2px 4px #30b4ff;
  padding: 5px;

  .description {
    padding: 0px 10px;
    margin-bottom: 5px;
  }
}
