.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  @media (max-width: 768px) {
    background: linear-gradient(
      333deg,
      #ead4cd calc(100% - 150px),
      #426858 calc(100% - 150px)
    );
    font-size: 16px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  }
  @media (min-width: 769px) {
    background: linear-gradient(
      333deg,
      #ead4cd calc(100% - 150px),
      #426858 calc(100% - 150px)
    );
    font-size: 16px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  }
  z-index: 1000; /* Ensure the navbar is above other content */
}

.logo {
  color: white;
  margin-left: 40px;
  font-size: 16px;
}

.nav-menu-icon {
  padding-right: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1100; /* Ensure the menu icon is above the menu */
}
