.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 1px 2px #a143f5;
  letter-spacing: 2px;
  background-color: #fcffe7;
  z-index: 1000;

  .nav-options {
    height: 16px;
    width: 16px;
    margin-left: 10px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-icons {
    height: 16px;
    width: 16px;
    padding: 0px 10px;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      transform: scale(1.125); /* Scale up by 1.125 (18px / 16px) */
      color: #a143f5;
    }
  }
}
